body {
    font-family: 'oswald', sans-serif;
    color: #0A3641;
}
h2 {
    letter-spacing: 1.4px;
    font-weight: bold;
    font-size: 35;
    color: white;
    margin-left: 15px;
}
nav a {
    color: #0A3641;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
nav li {
    display: inline-block;
    margin-left: 8%;
    margin-bottom: 0%;
}
.active {
    text-decoration: underline;
}
.logo {
    floa
    margin-left: 15px;
    width: 10.813em;
    height: auto;
}
.navlinks {
    display: inline;   
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.navbox {
    margin-bottom: 15px;
    border-bottom: solid #0A3641 2px;
}
.specialoffers {
    width: 100%;
    height: auto;
}
.featured {
    margin-top: 15px;
    height: 80px;
    background-color: #0A3641;
}
.featured span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
main .featjackets {
    text-align: center;
}
.jacketimg {
    margin-top: 15px;
    border: solid #0A3641 2px;
    width: 16.250em;
    height: auto;
}
.prodtext p {
    margin: 2px;
}
.price {
    text-decoration: line-through;
}
.saleprice {
    color: #E8A85F;
}
.price, .saleprice {
    display: inline-block;
}